﻿/* Variables from Bordeaux Trend Tweet (BTT) styleguide */
:root {
    --blueBTT: #4285f4;
    --lightBlackBTT: #424242;
    --darkBlackBTT: #777777;
    --alertBTT: #DF0D00;
    --whiteBTT: #f7f7f7;
}

body {
    background-color: var(--whiteBTT);
    margin-bottom: 60px;
    font-family: "Roboto", sans-serif;
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

a {
    color: var(--blueBTT);
}

blockquote {
    display: none;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

.site-logo {
    width: 90px;
}

.navbar {
    background-color: var(--blueBTT);
}

.home-page-container {
    background-color: var(--whiteBTT);
}

.home-page-header-container {
    background-color: var(--blueBTT);
    height: 500px;
    justify-content: center;
}


.home-page-header-title {
    font-size: 44px;
    line-height: 56px;
    padding: 0 40px 40px;
    width: 565px;
    text-align: center;

}
.options-nav {
    top : 0;
    right: 0;
}
.text-overflow {
    overflow: hidden;
}
.white-box-content {
    background-color: white;
    margin-top: -29px;
}

.trends-container-header {
    color: var(--lightBlackBTT);;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */

.btn-primary {
    color: #fff;
    background-color: var(--blueBTT);
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: var(--blueBTT);
    border-color: #1861ac;
}

/* Sticky footer styles */

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}


/* Sticky footer styles */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

div.login-logout-tab div.card-header {
    padding: 0px 0px 12px 0px;
}

div.login-logout-tab ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

div.login-logout-tab li.nav-item {
    width: 50%;
}

div.login-logout-tab a.nav-link {
    font-size: 25px;
    color: var(--lightBlackBTT);
    text-align: center;
}

div.card-content {
    padding: 10px 20px;
}

div.login-form-icon {
    text-align: center;
}
