@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Your email is now confirmed";
}

<div class="flex-column mx-auto w-50 my-5 text-center">
    <h1>@ViewData["Title"]</h1>
    <p class="flex-row">Cliquez <a href="/Identity/Account/Login">ici</a> pour vous connecter</p>
</div>