﻿@{
    ViewData["Title"] = "Home Page";
}


<div class="home-page-container">
    <div class="home-page-header-container d-flex flex-column">
        <div class="home-page-header-title mx-auto text-white mb-5">
            Explore what Bordelais are searching
        </div>

        <form method="POST" action="/requests">
            <p class="text-center text-white h4">Search by criteria</p>
            <div class="d-flex justify-content-center mb-5">
                <input class="form-control form-control-lg mr-4" name="query" type="text" placeholder="Enter a search term" style="max-width: 640px">
                <button type="submit" class="btn btn-primary btn-lg">Search</button>
            </div>
        </form>
        <form method="POST" action="/requests/trend">
            <p class="text-center text-white h4">Trends by location</p>
            <div class="d-flex justify-content-center mb-5">
                <select name="woeid" id="woeid" class="form-control form-control-lg mr-4" style="max-width: 640px;">

                </select>
                <button type="submit" class="btn btn-primary btn-lg">Search</button>
            </div>
        </form>
    </div>

    <div class="container">

        <div class="white-box-content d-flex flex-column">
            <div class="trends-container-header m-4">
                <b>Recent trends in Bordeaux</b>

                <p style="color: grey">Keep up to date with current research</p>

            </div>
            <div class="row">
                @foreach (var trend in ViewBag.listTrendFrance)
                {
                    var i = 1;
                    @foreach (var tren in trend["trends"])
                    {
                        <a class="col-6 text-center" style="height: 88px;" target="_blank" href="@tren["url"]">
                            @i - @tren["name"]
                            <hr class="col-xs-12">
                        </a>
                        i++;
                    }
                }
            </div>
        </div>

        <div class="white-box-content d-flex flex-column mt-4">
            <div class="trends-container-header m-4">
                <b>Recent Trends in World</b>
                <p class="text-secondary">Keep up to date with current research</p>
            </div>
            <div class="row">
                @foreach (var trend in ViewBag.listTrendWorld)
                {
                    var i = 1;
                    @foreach (var tren in trend["trends"])
                    {
                        <a class="col-6 text-center" style="height: 88px;" target="_blank" href="@tren["url"]">
                            @i - @tren["name"]
                            <hr class="col-xs-12">
                        </a>
                        i++;
                    }
                }
            </div>
        </div>
    </div>
</div>
