﻿@using Microsoft.AspNetCore.Html
@{
    Layout = "_Layout";
    ViewData["Title"] = "Requests Page";
}
<div class="mt-5">
    <form method="POST">
        <div class="d-flex justify-content-center mb-5">
            <input class="form-control form-control-lg mr-4" name="query" type="text" placeholder="Enter a search term" style="max-width: 640px">
            <button type="submit" class="btn btn-primary btn-lg">Search</button>
        </div>
    </form>
</div>

<div id="tweets">
    @if (ViewBag.requestList != null)
    {
        @foreach (string url in ViewBag.requestList)
        {
            HtmlString tweet = new HtmlString(url);
            <div class="w-50 m-auto p-1">@tweet</div>
        }
    }
</div>