@{
    ViewBag.Title = "Trend by location";
    Layout = "_Layout";
}
<div class="mt-5">
    <form method="POST" action="">
        <div class="d-flex justify-content-center mb-5">
            <select name="woeid" id="woeid" class="form-control form-control-lg mr-4" style="max-width: 640px;">

            </select>
            <button type="submit" class="btn btn-primary btn-lg">Search</button>
        </div>
    </form>
</div>
@if (ViewBag.listTrendById != null)
{
    <div class="white-box-content d-flex flex-column m-4">
        <div class="trends-container-header m-4">
            <b>Recent trends</b>

            <p style="color: grey">Keep up to date with current research</p>

        </div>
        <div class="row">

            @foreach (var trend in ViewBag.listTrendById)
            {
                var i = 1;
                @foreach (var tren in trend["trends"])
                {
                    <a class="col-6 text-center" style="height: 88px;" target="_blank" href="@tren["url"]">
                        @i - @tren["name"]
                        <hr class="col-xs-12">
                    </a>
                    i++;
                }
            }
        </div>
    </div>
}