﻿@{
    ViewData["Title"] = "Edit User Page";
}

<h1 class="text-center mt-5"> Personal informations </h1>
<div class=" white-box-content w-100 p-3 h-100 mt-5">
<h2 class="m-5"> General informations </h2>

    <div class="d-flex justify-content-between m-5">
        <div>
            <p>USERNAME</p>
        </div>
        <div>
            <p>John Doe</p>
        </div>
        <div>
                 <i class="fas fa-arrow-right"></i>    
                </div>
    </div>
<hr/>
    <div class="d-flex justify-content-between m-5">
        <div>
            <p>EMAIL</p>
        </div>
        <div>
            <p>john@example.com</p>
        </div>
        <div>
                 <i class="fas fa-arrow-right"></i>    
                </div>
    </div>
<hr/>
    <div class="d-flex justify-content-between m-5">
        <div>
            <p>PERMISSIONS</p>
        </div>
        <div>
            <p>User</p>
        </div>
        <div>
                 <i class="fas fa-arrow-right"></i>    
                </div>
    </div>
</div>


<div class=" white-box-content w-100 p-3 h-100 mt-5">
    
    <h2 class="m-5"> Looking for something else ? </h2>
    <a class="d-flex justify-content-between mt-5 ml-5 mr-5 text-decoration-none" href="../home/index">
        <div>
            <p>Look for trends</p>
        </div>
        <i class="fas fa-arrow-right"></i>
       </a>
<hr/>
    <a class="d-flex justify-content-between mt-5 ml-5 mr-5 text-decoration-none" href="#">
        <div>
            <p>Contact assistance service</p>
        </div>
        <div>
         <i class="fas fa-arrow-right"></i>    
        </div>
    </a>
</div>

