@using BordeauxTrendTweet.Library.Business

@{
    ViewData["Title"] = "History";
}

<div class="container">

    <ul class="nav nav-tabs nav-fill" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Your history searches by keyword</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Your history searches by localisation</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h3 class="text-center mt-5">Latest history searches by <span class="font-italic">keyword</span> </h3>

            @foreach (SearchHistory history in ViewBag.historyList)
            {
                User user = ViewBag.userService.Get(history.IdUser);
                if (history.SearchType == "Keyword")
                {
                    <h4 class="mb-5"> @history.CreatedAt</h4>
                    <div class=" white-box-content w-100 p-3 h-100 d-flex justify-content-between position-relative">
                        <div>
                          <p class="font-weight-bold">User identifier : @user.Email</p>
                            <p class="font-weight-bold">@history.Criteria</p>
                            <p class="text-overflow"> @history.Text</p>
                        </div>
                        <div>
                            <div class="options-nav nav-item dropdown position-absolute">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="@history.Url">See more</a>
                                    <a class="dropdown-item" href="#">Send by email</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <h3 class="text-center mt-5">Latest history searches by <span class="font-italic">localisation</span></h3>
                      @foreach (SearchHistory history in ViewBag.historyList)
                             {
                                 if (history.SearchType == "Localisation")
                                 {
                                 <h4 class="mb-5"> @history.CreatedAt </h4>
                                 <div class=" white-box-content w-100 p-3 h-100 d-flex justify-content-between">
                                     <div>
                                         <p class="font-weight-bold">@history.Criteria</p>
                                         <p> @history.Text</p>
                                     </div>
                                     <div>
                                         <div class="nav-item dropdown">
                                             <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"></a>
                                             <div class="dropdown-menu">
                                                 <a class="dropdown-item" href="@history.Url">See more</a>
                                                 <a class="dropdown-item" href="#">Send by email</a>
                                             </div>
                                         </div>
                                     </div>
                                 </div>
                             }
                             }
        </div>
    </div>
</div>